<h1>List authors</h1>
<table border="1">
<tr>
    <th>name</th>
    <th>adresse</th>
    <th>capacite</th>
    <th>action</th>
    
</tr>

      <tr>  {% for a in foyer %} </tr>
        <td>{{ a.nom }}</td>
        <td> {{ a.adresse }}</td>
        <td>a.capacite</td>
         <td><a >remove</a>
        <a >update</a>
        </tr>
        {% endfor %}
        </table>
        <button><a href="{{path("addF")}}"> add author </a></button>
